<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Password Records</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header> Search Password Records </header>

<div class="container">
    <img src="/logo.png" alt="Logo" class="logo">
    <h2>Find a Password Record</h2>

    <nav>
        <a href="/">Home</a>
        <a href="/view-records">View Passwords</a>
    </nav>

    <form action="/search" method="get">
        <input type="text" name="title" placeholder="Enter title..." required>
        <button type="submit">Search By Title</button>
    </form>


    <div th:if="${records != null and not #lists.isEmpty(records)}">
        <h3>Search Results:</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
                <th>Email</th>
                <th>Notes</th>
            </tr>
            <tr th:each="record : ${records}">
                <td th:text="${record.title}"></td>
                <td th:text="${record.username}"></td>
                <td th:text="${record.password}"></td>
                <td th:text="${record.url}"></td>
                <td th:text="${record.email}"></td>
                <td th:text="${record.notes}"></td>
            </tr>
        </table>
    </div>


    <p th:if="${records != null and #lists.isEmpty(records)}">Record Not Found!</p>

</div>
</body>
</html>
